/* You can add custom styles here. */

// @import "plugins/numbered";


q.descript {
  quotes: "“" "”" "‘" "’";
}


.tooltip {
    text-decoration:none;
    position:relative;
    cursor: crosshair;
    word-wrap: break-word;
}

.tooltip span {
    display:none;
}

.tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
    background:rgb(0, 0, 0);
    max-width: 350px;
    padding: 10px;
    font-size: 90%;
    line-height: 1.5em;
    border-radius: 5px;
    color: rgb(200,200,200);
    border-color: rgb(200,200,200);
    border-style:solid;
    border-width:1px;
    z-index: 2;
}

ul, ol {
    margin-left: 1em;
}

p {
  margin-left: 2em;
}

p.descript {
  font-family: 'Times', serif;
  line-height:1.25em;
  margin-left:2.5em;
  font-size: 90%
}

ul.descript {
  list-style-type: square;
  font-family:Times;
  line-height:1.25em;
  margin-left:3em;
  padding-right: 1em;
  font-size: 90%;
  margin-bottom:-.5em;
}

blockquote {
  font-family: Helvetica;
  font-size: 90%;
}

div.essay {
  font-family: Times New Roman;
  background-color: #f7f1df;
  padding: 2em;
  border-radius:20px;
  border-width:4px;
  border-style: double;
}
