/* You can add custom styles here. */

// @import "plugins/numbered";



ul, ol {
    margin-left: 2em;
}

p {
  margin-left: 2em;
}

p.descript {
  font-family:Times;
  line-height:1.25em;
  margin-left:2.5em;
  font-size: 90%
}
blockquote {

  font-size: 80%;
}
