/* You can add custom styles here. */

// @import "plugins/numbered";



ul, ol {
    margin-left: 2em;
}

p {
  margin-left: 2em;
}

p.descript {
  font-family:Times;
  line-height:1.25em;
  margin-left:2.5em;
  font-size: 90%
}
blockquote {
  font-family: Helvetica;
  font-size: 90%;
}

div.essay {
  font-family: Times New Roman;
  background-color: #f7f1df;
  padding: 2em;
  border-radius:20px;
  border-width:4px;
  border-style: double;
}
